<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form method="post" action="/">
  <input type="text" name="email" id="email">
  <input type="password" name="pass"  id="pass">
  <input type="submit" value="Submit">
</form>
